// bower:styl
// endbower
@import "nib"
global-reset()

@import "_variables"
@import "_header"
@import "_nav"
@import "_main"
@import "_aside"
@import "_footer"

body
  font-family "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
  color base-color-font

img
  vertical-align bottom
